/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f8f8f8;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
.header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8CA9FF;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
}

.logo {
    /* color: white; */
    font-size: 35px;
    font-weight: 650;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.nav a:hover, .nav a.active {
    color: #ff4b2b;
}

.login-btn {
    padding: 6px 15px;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

/* HERO */
.hero {
    padding: 100px 20px;
    text-align: center;
    background-image: url("Chatbot.png");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    font-size: clamp(30px, 5vw, 50px);
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-btn {
    padding: 12px 24px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.contact-btn:hover {
    background-color: #e03d22;
}

/* INTRO SECTION */
.intro {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

.intro h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

/* TECHNOLOGY STACK */
.tech-stack {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.tech-stack h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.stack-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.stack-box h3 {
    color: #ff4b2b;
    margin-bottom: 8px;
}

/* BUSINESS BENEFITS */
.benefits {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}

.benefits h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits li {
    margin: 12px 0;
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* CTA */
.cta {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
}

.cta p{
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    /* margin-top: 40px; */
}

/* MOBILE RESPONSIVE */
@media(max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        margin-top: 10px;
    }

    .stack-grid {
        grid-template-columns: 1fr;
    }
}

html{
    scroll-behavior: smooth;
}
